---
layout: default
---

<header id="publications-header" class="layout-header">
  <div class="layout-header__graphic">
    {% include header-graphic.html %}
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-0" style="padding-top:1em;">
    </div>
    <div class="header-publications col-sm-offset-1 col-md-offset-0 col-md-10 col-xs-24">
      <h1>{{ page.header_title }}</h1>
    </div>
    <div class="col-md-12">
      <img class="publications-header__image publications-header__image-top" src="{{ page.header_image1 }}" style="">
      <img class="publications-header__image publications-header__image-mid" src="{{ page.header_image2 }}" style="">
      <img class="publications-header__image publications-header__image-bot" src="{{ page.header_image3 }}" style=" ">
    </div>
  </div>
</header>

<main>

<section class="blog-index">

  <div class="row">

    <div class="col-xs-24 col-md-16">

      <h2 class="col-xs-hidden">Publications</h2>

      {% for post in site.publications %}

          <div class="post-index__featured">
            <h5 class="post-index__subtitle">Featured Publication</h5>
              <a href="{{ post.link }}"><h1>{{ post.title }}</h1></a>
              <h2>{{ post.subtitle }}</h2>

              {% assign truncatedContent = '' %}
              {% assign paragraphs = post.content | split:'</p>' %}
              {% for paragraph in paragraphs limit:3 %}
                {{ truncatedContent | append: paragraph }}
                {{ truncatedContent | append: '</p>' }}
              {% endfor %}
            <a href="{{ post.link }}">
              <div class="post-read">
                Read Publication
              </div>
            </a>
          </div>

      {% endfor %}
    </div>


    <div class="blog-index__news col-xs-24 col-md-8">
      <div class="blog-index__border"></div>
      <h3>{{ page.news.title }}</h3>
      <ul>
        {% for post in page.news.posts %}
          <li><a href="{{ post.link }}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</section>




<section class="layout-cta cta">
  <div class="row">
    <div class="col-xs-24 col-sm-14 col-md-offset-1 col-md-13">
      <h2 class="blue">Want to Learn More<span class="qmark">?</span></h2>
      <h2>Meet the team driving knowledge forward</h2>
    </div>
    <div class="col-xs-24 col-sm-10 col-md-7 text-right">
      <a class="cta-link" href="/team">GET TO KNOW US</a>
    </div>
  </div>
</section>
</main>
