---
layout: default
---

<header id="sepsis-header" class="layout-header">

  <div class="row">
    <div class="sepsis-header__bars">
    </div>
    <div class="col-md-1 col-xs-0" style="padding-top:1em;">
    </div>
    <div class="header-sepsis col-xs-24 col-sm-offset-1 col-md-offset-0 col-md-10">
      <h1>{{ page.header_title }}</h1>
    </div>
    <div class="header-sepsis__subtitle col-xs-24 col-sm-offset-8 col-sm-16 col-md-offset-2 col-md-10">
      <p><em>{{ page.header_subtitle }}</em> <span>{{ page.header_author }}</span></p>
    </div>
  </div>

  <div class="layout-header__graphic">
    {% include header-graphic.html %}
  </div>
</header>

<main>

  <section class="sepsis-main">
    <div class="row">
      <div class="col-md-24  col-xs-24 text-center">
        <h2>{{ page.quick_facts.title }}</h2>
      </div>
  </section>

  <section class="sepsis-facts">
    <div class="row">

    {% for fact in page.quick_facts.facts %}
      <div class="col-md-8 col-xs-24">
        <figure class="sepsis-facts__chart">
          <img src='{{ fact.image }}' alt='Sepsis Chart 1' />
          <figcaption>
            <h3>{{ fact.title }}</h3>
            <p>{{ fact.description }}</p>
          </figcaption>
        </figure>
      </div>
    {% endfor %}

    </div>
  </section>


<section class="sepsis-disease">
  <div class="row">
    <div class="col-md-24 col-xs-24 text-center">
      <h2>{{ page.disease.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-16 col-md-push-4 text-center col-xs-24">
      <p>{{ page.disease.description }}</p>
    </div>
  </div>

  <div class="sepsis-disease__charts">
    <div class="sepsis-disease__cells"></div>
    <div class="row">
      <div class="sepsis-disease__body"></div>
      <div class="sepsis-disease__body-blue"></div>
      <div class="col-md-6 col-md-push-6 col-sm-12 col-xs-24">
         <figure>
            <figcaption>
              <strong>{{ page.disease.normal.title }}</strong>
              <p>{{ page.disease.normal.description }}</p>
            </figcaption>
            <img src="{{ page.disease.normal.image }}"/>
        </figure>
      </div>
      <div class="col-md-6 col-md-push-6 col-sm-12 col-xs-24">
        <figure>
          <figcaption>
            <strong>{{ page.disease.sepsis.title }}</strong>
            <p>{{ page.disease.sepsis.description }}</p>
          </figcaption>
          <img src="{{ page.disease.sepsis.image }}"/>
        </figure>
      </div>
    </div>
    </div>

  </section>



  <section class="layout-cta cta">
    <div class="row">
      <div class="col-xs-24 col-sm-14 col-md-offset-1 col-md-12">
        <h2 class="blue">Want to See the Research<span class="qmark">?</span></h2>
        <h2>Read Our Published Papers</h2>
      </div>
      <div class="col-xs-24 col-sm-10 col-md-8 text-right">
        <a class="cta-link" href="/publications">VIEW PUBLICATIONS</a>
      </div>
    </div>
  </section>
</main>
