---
layout: default
---

<header id="technology-header" class="layout-header">

  <div class="row">
    <div class="col-md-1 col-xs-0" style="padding-top:1em;">
    </div>
    <div class="header-technology col-xs-12 col-md-offset-0 col-md-10 col-xs-24">
      <h1>{{ page.header_title }}</h1>
      <p>{{ page.header_subtitle }}</p>
    </div>
    <div class="header-technology--office col-xs-12 col-md-offset-2 col-md-10">
      <img src="{{ page.header_image }}"/>
    </div>
  </div>

  <div class="layout-header__graphic">
    {% include header-graphic-tech.html %}
  </div>
</header>


<div class="technology-separator">
</div>
<main>
  <div id="technology-main">
    <section class="technology-main__title">
      <div class="row">
        <div class="col-xs-24 col-md-24">
          <h2>Biomechanical properties of single cells</h2>
          <sub>(e.g., cellular deformability, or cellular viscosity)</sub>
          <p>Indicate changes in the global state of cells, including phenomena such as:</p>
        </div>
    </section>

    <section class="technology-states">
      <div class="row">

        {% for state in page.states.changes %}
        <div class="col-md-6">
          <div class="technology-state__blocks">
            <div class="technology-states__image">
              <img src="{{ state.image }}">
            </div>
            <div class="technology-states__text">
              <h1>{{ state.title }}</h1>
              <p>{{ state.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <section class="technology-comp">
    <div class="row">
      <div class="col-md-24 col-xs-24 technology-comp__title">
        <h2>{{ page.techniques.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-24 technology-comp__subtitle">
        <h1>{{ page.techniques.subtitle }}</h1>
      </div>
      <div class="col-md-16 col-xs-24 technology-comp__paragraph">
        <p>{{ page.techniques.description }}</p>
      </div>
    </div>


  <section class="technology-comp__techs">
    <div class="row technology-comp__titles">
      <div class="col-md-5">&emsp;</div>
      <div class="col-md-10"><b>Technique</b></div>
      <div class="col-md-2"><b>Cost</b></div>
      <div class="col-md-2"><b>Throughput</b></div>
    </div>

    {% for techni in page.techniques.technis %}

    <div class="row">
      <div class="col-xs-24 col-md-offset-2 col-md-20">
         <div class="technology-comp__table">
            <div class="technology-comp__table-image"><img src="{{ techni.image }}"></div>
            <div class="technology-comp__table-title"><h1>{{ techni.title }}</h1><sub>{{ techni.subtitle }}</sub></div>
            <div class="technology-comp__table-cost"><h1>{{ techni.cost }}</h1></div>
            <div class="technology-comp__table-through"><h1>{{ techni.through }}</h1></div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </section>

<div class="row technology-comp__results">
<div class="col-md-12 col-md-push-6">
  <h1>{{ page.techniques.results_title }}</h1>
  <a class="technology-comp__results-cta" href="/contact">Collaborate!</a>
</div>
</div>

</section>


<section class="technology-system">

  <section class="technology-system__title">
    <div class="row">
      <div class="col-md-24">
        <svg width="33px" height="27px" viewBox="42 26 33 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(42.000000, 26.000000)">
                <path d="M0.997198679,0 C0.446461056,0 0.175771449,0.420573139 0.385723284,0.922930622 L3.96078127,9.47706938 C4.17381036,9.98678989 4.52227601,9.97942686 4.73222784,9.47706938 L8.30728583,0.922930622 C8.52031492,0.413210114 8.24997033,0 7.69581044,0 L0.997198679,0 Z" id="Path-2-Copy-2" fill="#6677CC"></path>
                <path d="M0.997198679,16.1433964 C0.446461056,16.1433964 0.175771449,16.5639695 0.385723284,17.066327 L3.96078127,25.6204657 C4.17381036,26.1301862 4.52227601,26.1228232 4.73222784,25.6204657 L8.30728583,17.066327 C8.52031492,16.5566065 8.24997033,16.1433964 7.69581044,16.1433964 L0.997198679,16.1433964 Z" id="Path-2-Copy-6" fill="#6677CC" transform="translate(4.347344, 21.071698) scale(1, -1) translate(-4.347344, -21.071698) "></path>
                <path d="M24.4683233,0 C23.9175857,0 23.6468961,0.420573139 23.8568479,0.922930622 L27.4319059,9.47706938 C27.644935,9.98678989 27.9934006,9.97942686 28.2033525,9.47706938 L31.7784105,0.922930622 C31.9914395,0.413210114 31.721095,0 31.1669351,0 L24.4683233,0 Z" id="Path-2-Copy-4" fill="#6677CC"></path>
                <path d="M24.4683233,16.1433964 C23.9175857,16.1433964 23.6468961,16.5639695 23.8568479,17.066327 L27.4319059,25.6204657 C27.644935,26.1301862 27.9934006,26.1228232 28.2033525,25.6204657 L31.7784105,17.066327 C31.9914395,16.5566065 31.721095,16.1433964 31.1669351,16.1433964 L24.4683233,16.1433964 Z" id="Path-2-Copy-7" fill="#6677CC" transform="translate(27.818469, 21.071698) scale(1, -1) translate(-27.818469, -21.071698) "></path>
                <path d="M12.732761,0.543396354 C12.1820234,0.543396354 11.9113338,0.963969493 12.1212856,1.46632698 L15.6963436,10.0204657 C15.9093727,10.5301862 16.2578383,10.5228232 16.4677902,10.0204657 L20.0428481,1.46632698 C20.2558772,0.956606468 19.9855326,0.543396354 19.4313727,0.543396354 L12.732761,0.543396354 Z" id="Path-2-Copy-3" fill="#6677CC" transform="translate(16.082906, 5.471698) scale(1, -1) translate(-16.082906, -5.471698) "></path>
                <path d="M12.732761,15.6 C12.1820234,15.6 11.9113338,16.0205731 12.1212856,16.5229306 L15.6963436,25.0770694 C15.9093727,25.5867899 16.2578383,25.5794269 16.4677902,25.0770694 L20.0428481,16.5229306 C20.2558772,16.0132101 19.9855326,15.6 19.4313727,15.6 L12.732761,15.6 Z" id="Path-2-Copy-8" fill="#6677CC"></path>
            </g>
        </svg>
          <h1>Cytovale System in Diagnostics</h1>
      </div>
    </div>
  </section>

  <section class="technology-system__diagrams">
    <div class="technology-system__div">

    {% for system in page.techniques.system %}
      {% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}

      <div class="row">
        {% if thecycle == "even" %}
          <div class="col-md-push-2 col-md-10 col-xs-24 left-diagram">        
        {% else %}
          <div class="col-md-12 col-md-push-11 col-xs-24 right-diagram">
        {% endif %}
            <figure>
              <img src={{system.image}} alt="Diagnostic" />
              <figcaption>
                <h3>{{ system.title }}</h3>
                <p>{{ system.description }}</p>
              </figcaption>
            </figure>
          </div>
      </div>

    {% endfor %}


    </div>
  </section>

</section>


<section class="layout-cta cta">
  <div class="row">
    <div class="col-xs-24 col-sm-11 col-md-offset-1 col-md-12">
      <h2 class="blue">Want to Collaborate<span class="qmark">?</span></h2>
      <h2>Get in Touch to Work Together</h2>
    </div>
    <div class="col-xs-24 col-sm-10 col-md-10 text-right">
      <a class="cta-link" href="/contact">CONTACT US</a>
    </div>
  </div>
</section>

</main>

<script>
  document.body.style.background = "#191234";
</script>
